.page_name {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    padding-bottom: 30px;
}

.text {
    font-family: 'Montserrat';
    font: 200;
    font-size: 24px;
}

.line img {
    width: 40%; 
    height: 4px; 
    /* object-fit: cover;  */
}